<a href="https://colab.research.google.com/github/garvita-jain/MIDAS-LearningGroup/blob/master/LogisticRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
url = "https://raw.githubusercontent.com/garvita-jain/MIDAS-LearningGroup/master/Week1/LoR_DT_RF/train.csv"
data = pd.read_csv(url)

In [2]:
data.head

<bound method NDFrame.head of      PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]>

In [29]:
X = data.drop(columns=['PassengerId', 'Survived', 'Name', 'Ticket', 'Cabin'])
y = data.iloc[:, 1]

In [30]:
X.isna().any()
X['Embarked'].fillna('na', inplace=True)
X['Age'].fillna(X['Age'].mean(), inplace=True)
X = pd.get_dummies(data=X, columns=['Sex', 'Embarked'], drop_first=True)
X.isna().any()

Pclass         False
Age            False
SibSp          False
Parch          False
Fare           False
Sex_male       False
Embarked_Q     False
Embarked_S     False
Embarked_na    False
dtype: bool

In [31]:
print(X.head)
print(y.head)

<bound method NDFrame.head of      Pclass        Age  SibSp  ...  Embarked_Q  Embarked_S  Embarked_na
0         3  22.000000      1  ...           0           1            0
1         1  38.000000      1  ...           0           0            0
2         3  26.000000      0  ...           0           1            0
3         1  35.000000      1  ...           0           1            0
4         3  35.000000      0  ...           0           1            0
..      ...        ...    ...  ...         ...         ...          ...
886       2  27.000000      0  ...           0           1            0
887       1  19.000000      0  ...           0           1            0
888       3  29.699118      1  ...           0           1            0
889       1  26.000000      0  ...           0           0            0
890       3  32.000000      0  ...           1           0            0

[891 rows x 9 columns]>
<bound method NDFrame.head of 0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64>

In [51]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)
clf1 = DecisionTreeClassifier()
clf1.fit(X_train, y_train)
y_predict1 = clf1.predict(X_test)

#print(y_predict1==y_test)

In [53]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_predict1)

0.770949720670391

In [55]:
from sklearn.ensemble import RandomForestClassifier
clf2 = RandomForestClassifier(max_depth=100, random_state=0)
clf2.fit(X_train, y_train)
y_predict2 = clf2.predict(X_test)

In [57]:
accuracy_score(y_test, y_predict2)

0.8324022346368715

In [60]:
from sklearn.linear_model import LogisticRegression
clf3 = LogisticRegression(random_state=0, max_iter=500)
clf3.fit(X_train, y_train)
y_predict3 = clf3.predict(X_test)

In [61]:
accuracy_score(y_test, y_predict3)

0.7988826815642458

In [62]:
url_test = "https://raw.githubusercontent.com/garvita-jain/MIDAS-LearningGroup/master/Week1/LoR_DT_RF/test.csv"
data_test = pd.read_csv(url_test)

In [79]:
def prepareData(testData, trainData):
  Xtrain = trainData.drop(columns=['PassengerId', 'Survived', 'Name', 'Ticket', 'Cabin'])
  Xtest = testData.drop(columns=['PassengerId', 'Name', 'Ticket', 'Cabin'])
  ytrain = trainData.iloc[:, 1]
  # Xtrain['Embarked'].fillna('na', inplace=True)
  Xtrain['Age'].fillna(Xtrain['Age'].mean(), inplace=True)
  Xtrain = pd.get_dummies(data=Xtrain, columns=['Sex', 'Embarked'], drop_first=True)
  # Xtest['Embarked'].fillna('na', inplace=True)
  Xtest['Age'].fillna(Xtest['Age'].mean(), inplace=True)
  Xtest['Fare'].fillna(Xtest['Fare'].mean(), inplace=True)
  Xtest = pd.get_dummies(data=Xtest, columns=['Sex', 'Embarked'], drop_first=True)
  return Xtrain,ytrain, Xtest

In [80]:
Xtrain, ytrain, Xtest = prepareData(data_test, data)
print(Xtest.isna().any())
print(Xtrain.isna().any())

Pclass        False
Age           False
SibSp         False
Parch         False
Fare          False
Sex_male      False
Embarked_Q    False
Embarked_S    False
dtype: bool
Pclass        False
Age           False
SibSp         False
Parch         False
Fare          False
Sex_male      False
Embarked_Q    False
Embarked_S    False
dtype: bool

In [81]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(max_depth=100, random_state=0)
clf.fit(Xtrain, ytrain)
y_predict = clf.predict(Xtest)

In [82]:
print(y_predict)

[0 0 0 1 0 0 0 0 1 0 0 0 1 0 1 1 0 1 0 1 1 1 1 1 1 0 1 1 1 0 0 0 1 0 1 1 0
 0 0 1 0 1 0 1 1 0 0 0 1 1 0 0 1 1 0 0 0 0 0 1 0 0 0 1 1 1 1 0 0 1 1 0 0 0
 1 0 0 1 0 1 1 0 0 0 0 0 1 0 0 1 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0
 0 1 0 1 0 0 1 0 1 1 0 1 0 0 1 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0
 1 0 1 0 0 1 0 0 1 1 1 1 0 1 1 0 0 0 0 0 1 0 0 0 0 0 0 1 1 1 1 1 0 0 1 0 1
 0 1 0 0 0 0 0 1 0 1 0 1 0 0 0 0 1 0 1 0 0 0 0 1 0 0 0 0 0 1 0 0 0 1 0 1 0
 1 1 1 0 0 0 0 0 0 1 0 0 1 0 1 1 1 1 1 1 0 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0
 1 0 0 0 0 0 0 0 0 1 1 1 0 0 0 1 0 0 1 1 0 0 0 0 0 0 0 1 1 0 1 0 0 0 1 1 0
 0 0 0 1 0 0 0 0 0 0 1 0 1 0 1 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 1 1 0 0 0 1 1
 0 1 0 0 1 1 0 0 0 0 0 0 1 0 0 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 1 0 0 0 0
 0 0 1 0 1 0 0 1 0 0 0]